:root {
  --main-color: #000;
  --white: #fff;
  --secondary-color: #e8ff02;
  --main-font: "Mont";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin: 0 8%;
  gap: 30px;
  max-width: 100%;
}